@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
	--mainActionColor: #3a3b58;
	--focusBorderColor: #63c8e8;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/* non-scrolling header */

header {
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
	padding: 16px;
	background-color: white;
}

.hasBottomEdge {
	border-bottom: 1px solid lightgrey;
}

.wordmark {
	display: inline-block;
	font-size: 16px;
	border-right: 2px solid black;
	padding-right: 10px;
	height: 32px;
	line-height: 32px;
	user-select: none;
}

.wordmark:hover {
	color: #666;
	border-color: #666;
}

.navigationOffset {
	height: 64px; /*same as header height*/
}

/* hero are and tabs */

main {
	width: 100%;
	min-height: 60vh;
}

.banner {
	background-image: url("hero.png");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
	height: 25vw;
	min-height: 192px;

	/*contents to bottom*/
	display: flex;
	align-items: flex-end;
}


.bannerLine {
	display: flex;
	align-items: center;
}

.bannerText {
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
	font-size: 32px;
	font-weight: 700;
}

.avatar {
    background-clip: padding-box;
    background-image: url("avatar.jpg");
    background-size: cover;
    width: 112px;
    min-width: 112px;
    height: 112px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid white;
    margin: 20px;
}

/*menu bar */
.menuBar {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.mainAction {
	box-sizing: border-box;
	display: inline-block;
	background-color: var(--mainActionColor);
	color: white;
	line-height: 50px;
	border-radius: 32px;
	padding: 0 32px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

/* mess... these styles are for the profile page button but not the sign up page button*/
.mainActionRight {
	margin: 12px 8px;
	width: calc(25% - 16px); /* match right column width */
}

.mainAction:hover:not(:disabled) {
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--mainActionColor);
}

/* can be disabled if it's <button> */
.mainAction:disabled, .smallButton:disabled {
	cursor: default;
	background-color: lightgrey;
	color: grey;
}

/*content grid*/

/* 3 column widths: 25, 50, 25*/
/* 2 column widths: 33.33%, 66.66%; */

.narrow {
	width: 100%;
	max-width: 1152px;
	margin-left: auto;
	margin-right: auto;
}

.contentGrid {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-areas: "summary main tiers" "goals main tiers";
	grid-template-rows: max-content;
	margin-top: 8px; /* maybe hack */
}

.summary {
	grid-area: summary;
	/* flex used here purely to prevent margin collapse */
	display: flex;
  flex-direction: column;
}

.goals {
	grid-area: goals;
	/* flex used here purely to prevent margin collapse */
	display: flex;
  flex-direction: column;
}

.tiers {
	grid-area: tiers;
	/* flex used here purely to prevent margin collapse */
	display: flex;
  flex-direction: column;
}

.mainContent {
	grid-area: main;
	/* flex used here purely to prevent margin collapse */
	display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid lightgrey;
  border-radius: 4px;
	margin: 8px;
	margin-top: 10px;
	margin-bottom: 9px;
	padding: 16px;
}

.singleColumn .box {
	padding: 24px; /* more spacious */
}

.boxSection {
	margin: 0 -16px;
	border-bottom: 1px solid lightgrey;
	padding: 0 16px;
	padding-bottom: 16px;
}

/* number of patrons */
.bigNumber {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	margin-top: 12px;
	margin-bottom: 6px;
}

.smol {
	color: grey;
	font-size: 14px;
	font-weight: normal; /* override if in bold heading */
}

/* only on sign up page */
h1 {
	font-size: 22px;
	margin-top: 33px;
	margin-bottom: 48px;
	font-weight: inherit;
	text-align: center;
}

/* box headings, always in boxSection */
h5 {
	margin: 0;
	font-weight: 700;
}

/* backer tiers */
h6 {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 20px;
}

p {
	margin: 0;
}

/* utilities */

/* same as .smol */
label {
	color: grey;
	font-size: 14px;
}

input[type=text], input[type=email] {
	display: block;
	width: 100%;
	height: 45px;
	padding: 0 16px;
	margin-top: 9px;
	margin-bottom: 19px;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #fbfbfb;
	border: 1px solid lightgrey;
	border-radius: 4px;
}

input[type=text]:focus, input[type=email]:focus {
	background-color: white;
	outline: inherit;
	border-color: darkblue;
}

input[type=checkbox] {
	margin: 0;
	margin-top: 9px;
	margin-bottom: 25px;
	margin-right: 25px;
}

input[type=checkbox]::before {
	content: "";
	line-height: 22px;
	font-size:26px;
	display: inline-block;
	width: 22px;
	height: 22px;
	background-color: white;
	color: white;
	border: 1px solid grey;
	border-radius: 4px;
	margin-top: -6px;
}

input[type=checkbox]:checked::before {
	background-color: var(--mainActionColor);
	content: "\2713";
}

input[type=checkbox]:focus {
	outline: none;
}

input[type=checkbox]:focus::before {
	border: 1px solid var(--focusBorderColor);
	box-shadow: var(--focusBorderColor) 0 0 8px;
}

input.validate:invalid {
	border: 1px solid red;
	background-color: snow;
}

/* intended to go after inputs, which have lots of margin on the bottom*/
.error {
	font-size: 14px;
	color: red;
	margin-top: -8px;
	margin-bottom: 16px;
}

.warning {
	font-size: 14px;
	color: red;
	margin: 16px 0;
}


img {
	max-width: 100%;
}

.smallImg {
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 16px;
}

.hidden {
	display: none;
}

.smallButton {
	box-sizing: border-box;
	display: block;
	background-color: var(--buttonColor);
	color: white;
	line-height: 32px;
	border-radius: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	/* resets <button> styles (not needed for <a> */
	padding: 0;
	border: none;
	font-size: 16px;
	width: 100%;
	cursor: pointer;
}

a.smallButton:hover {
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--buttonColor);
}

.smallButton img {
	height: 12px;
	margin-right: 12px;
}

.smallButton:focus, .mainAction:focus {
	outline: none;
	box-shadow: var(--focusBorderColor) 0 0 8px;
}

.half {
	width: 50%;
}
.half:not(:first-child) {
	margin-left: 16px;	
}

.progressFilled {
	width: 70%;
	background-color: orange;
	height: 8px;
	border-radius: 4px;
}

.progress {
	width: 100%;
	background-color: grey;
	height: 8px;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 16px;
}

.across {
	display: flex;
}

.singleColumn {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.downwards {
	display: flex;
	flex-direction: column;
}

/* specific button styles */

.tierButton {
	--buttonColor: #5b9ba3;
	margin-top: 16px;
}

.twitterButton {
	--buttonColor: #1da1f2;
	background-color: var(--buttonColor);
}

.smallButton.twitterButton img {
	height: 23px;
	margin-right: 7px;
}

.facebookButton {
	--buttonColor: #4167b1;
}

/* pager (page changer buttons) */

.pager {
  display: flex;
}

.pager button {
	display: block;
	width:26px;
	height:26px;
	border: 1px solid lightgrey;
	text-align: center;
	font-size: 20px;
	line-height: 24px; /* same as height, but tweaked for exact font */
	margin-top: -13px; /* don't expand layout for me! */
	margin-bottom: -13px;
	margin-left: -1px; /* overlap border on adjacent buttons */
	color: grey;
	background-color: white;
	/* override <button> styles: */
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.pager button:focus {
	outline: none;
	border-color: var(--focusBorderColor);
	z-index: 99;
}

.pager button:hover, .pager button:focus {
	background-color: #e9e9e9;
}

.pager button:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-left: 0;
}

.pager button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.spreadApart {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.pager .disabled {
	color: lightgrey;
	cursor: default;
}

/* resets */

a {
	color: inherit;
	text-decoration: inherit;
}

p a {
	color: #a33021;
	text-decoration: underline;
}

/* narrow styles */

@media (max-width: 1050px) {
	.contentGrid {
		grid-template-columns: 33.333% 66.666%;
		grid-template-areas: "summary main" "tiers main" "goals main";
	}	

	.mainAction {
		width: inherit;
	}
}

@media (max-width: 790px) {
	.singleColumn {
		max-width: inherit;
		margin-left: -8px;
		margin-right: -8px;
	}

	.contentGrid {
		grid-template-columns: 100%;
		grid-template-areas: "summary" "main" "tiers" "goals";
	}

	/* fairly hacky code to move the main action button to a sticky footer*/
	/* hacky mostly because I want a white rectangle to appear behind it*/
	.canBeFooter {
		position: fixed;
    display: block;
    bottom: 0%;
    left: 0;
	}

	.mainAction {
		width: calc(100% - 16px); /* subtract mainAction margin*/
	}

	.whiteFooter {
		width: 100vw;
		height: calc(50px + 24px); /* add mainAction margin*/
		background-color: white;
		border-top: 1px solid lightgrey;		
	}
}